:root {
  --bg: #F3F4F6;
  --text: #111827;
  --orange: #F97316;
  --indigo: oklch(51.1% 0.262 276.966);
  --green: #22C55E;
}

body.dark {
  --bg: #070a13;
  --text: #f1f5f9;
  --orange: #FB923C;
  --indigo: oklch(51.1% 0.262 276.966);
  --green: #4ADE80;
}

svg {
  color: var(--text);
}

body {
    background: var(--bg);
    color: var(--text);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

a {
  color: var(--orange);
}

strong {
  color: var(--indigo);
}

p {
  color: var(--text)
}