/* xs */

/* @media (min-width: 20rem) {
} */

/* s */

/* @media (min-width: 45rem) {
} */

/* l */

/* @media (min-width: 64rem) {
} */

/* xl */

/* @media (min-width: 85rem) {
} */

/* * {
  line-height: calc(1em + 0.5rem);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.section {
  margin-top: 4rem;
}

/* xs */

@media (min-width: 20rem) {
  .container {
    width: 20rem;
  }

  .section h1{
    font-size: 1.5rem;
  }
}

/* s */

@media (min-width: 36rem) {
  .container {
    width: 36rem;
  }
}

/* m */

@media (min-width: 45rem) {
  .container {
    width: 45rem;
  }

  h1.xl {
    font-size: 4rem;
  }

  h2.xl {
    font-size: 2rem;
  }
}

/* l */

@media (min-width: 64rem) {
  .container {
    width: 64rem;
  }

 h1.xl {
    font-size: 5rem;
  }

  h2.xl {
    font-size: 2.5rem;
  }
}

/* xl */

@media (min-width: 85rem) {
  .container {
    width: 85rem;
  }
}


